<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Cursos</title>
</head>
<body>
  <div id="app">
    <h1>Mis cursos 💚</h1>
    <hr>
    <form>
      <p>
        <input 
          type="text" 
          placeholder="Nombre del curso"
          v-model="form.title"
        >
      </p>
      <p>
        <input 
          type="number" 
          placeholder="Horas"
          v-model="form.hours"  
        >
      </p>
      <p>
        <button 
          @click.prevent="addCourse"
        >
            Guardar curso
        </button>
      </p>
    </form>
    <div>
      <section>
        <h3>Lista de Cursos</h3>
        <div v-if="courses.length">
          <ol>
            <li 
              v-for="(course, index) in courses"
              :key="index"
            >
              {{ `${course.title} (${course.hours} horas)` }}
            </li>
          </ol>
          <hr>
          <p>
            Llevo <strong></strong> horas aprendiendo cursos
            <strong>#ThisIsTheNewShit 💚</strong>
          </p>
        </div>
        <p v-else class="red">
          Aún no has realizado cursos
        </p>
      </section>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/index.js"></script>
</body>
</html>